:root {
   --content-width: 75%;
   /* Table */
   --table-border-color: rgba(102, 102, 102, 0.3);
   --table-th-backround-color: var(--theme-dark-color);
   --table-th-font-color: #ffffff;
   --table-tr-odd-child-background-color: #f1f1f1;
   --table-tr-even-child-background-color: #ffffff;
   --table-td-padding: 5px;
   --table-th-padding: 5px;

   /* List */
   --list-style-type: disc;

   /* Media */
}
div.content {
   width: var(--content-width);
   margin: auto;
}

/* Paragraphs */
div.content p {
   text-align: justify;
}
/* End paragraphs */

/* Table */
div.content table {
   width: 100%;
   border: 1px solid var(--table-border-color);
}

div.content table,
div.content table tr td {
   border: 1px solid var(--table-border-color);
   border-collapse: collapse;
   padding: var(--table-td-padding);
}

div.content table tr:nth-child(odd) {
   background-color: var(--table-tr-odd-child-background-color);
}
div.content table tr:nth-child(even) {
   background-color: var(--table-tr-even-child-background-color);
}

div.content table th {
   padding: var(--table-th-padding);
   color: var(--table-th-font-color);
   background-color: var(--table-th-backround-color);
}
div.content table tr ul {
   margin: 0;
}
/* End table */

/* List */
div.content ul li {
   list-style-type: var(--list-style-type);
}
/* End list */

div.content div.two-items img {
   width: 49%;
}

/* Handle screen resizing */
@media only screen and (min-width: 800px) {
   div.content img {
      width: 588px;
   }
}
@media only screen and (max-width: 800px) {
   div.content img {
      width: 100%;
   }
}
/* End handle screen resizing */
