:root {
   --table-pinout-border-color: #666;
   --table-pinout-th-backround-color: #606060;
   --table-pinout-th-font-color:#ffffff;
   --table-pinout-tr-odd-child-background-color: #f1f1f1;
   --table-pinout-tr-even-child-background-color: #ffffff;
}
table.pinout {
   width: 100%;
   border: 1px solid var(--table-pinout-border-color);
}

table.pinout, table.pinout td{
   border: 1px solid var(--table-pinout-border-color);
   border-collapse: collapse;
}

table.pinout tr:nth-child(odd) {
   background-color: var(--table-pinout-tr-odd-child-background-color);
}
table.pinout tr:nth-child(even) {
   background-color: var(--table-pinout-tr-even-child-background-color);
}

table.pinout th {
   color:var(--table-pinout-th-font-color) ;
   background-color: var(--table-pinout-th-backround-color);
}
table.pinout tr ul{
   margin:0;
}