div.header {
   color: var(--theme-navbar-font-color);
   background-color: var(--theme-active-item-color);
   display: flex;
   align-items: center;
   flex-direction: column;
}

div.header {
   text-shadow: 0 0 8px var(--theme-dark-color);
}

div.header p {
   margin-top: 0;
}
