:root{
   --navbar-background-color: var(--theme-dark-color);
   --navbar-font-color: var(--theme-navbar-font-color);
   --navbar-li-hover-color: rgba(0, 0, 0, 0.3);
   --navbar-li-active-color: var(--theme-active-item-color);
   --navbar-li-active-hover-color: rgb(55, 75, 150);

   --navbar-internal-backround-color:lightgray;
   --navbar-li-internal-hover-color:rgba(0, 0, 0, 0.1);
   --navbar-li-internal-font-color: black;

   --transition-time: .1s;
}

nav, nav ul.pages , nav ul.internal{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: var(--navbar-background-color);
   position: sticky;
   top: 0;
}

nav ul.pages li , nav ul.internal li{
   float: left;
}

nav ul.pages li a , nav ul.internal li a{
   display: block;
   color: var(--navbar-font-color);
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   transition: var(--transition-time) background-color;
}

nav ul.pages li a:hover {
   background-color: var(--navbar-li-hover-color);
}

nav .active {
   background-color: var(--navbar-li-active-color);
}

nav ul.pages li a.active:hover {
   background-color: var(--navbar-li-active-hover-color);
}

nav ul.internal{
   background-color: var(--navbar-internal-backround-color);
}

nav ul.internal li a{
   padding: 8px 10px;
   color: var(--navbar-li-internal-font-color);
}

nav ul.internal li a:hover {
   background-color: var(--navbar-li-internal-hover-color);
}