<html>

<head>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <h2>Waarvoor wordt het gebruikt</h2>
    <p>De ESP discovert devices via bluetooth. Dan stuurt het info over deze toestellen door naar de master.</p>
    <p>Op elke ESP kan je dezelfde code uploaden. Vergeet wel niet de inloggegevens voor de WiFi in te geven. Wanneer het de configuratie gegevens gekregen heeft van de master module zal de ESP via UDP data versturen naar de master module. D.w.z. dat het niet kijkt als er een antwoord is. Als de master stopt met luisteren naar de data van de ESP gaat de ESP dat niet weten en dus zal deze blijven sturen tot deze gereset word.</p>
    <p>De esp luisterd ook naar binnenkomende berichten zodat hij geconfigureerd kan worden. </p>
    <table style="border-collapse:collapse;border-color:#ccc;border-spacing:0" class="tg">
        <thead>
            <tr>
                <th
                    style="background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    Commando</th>
                <th
                    style="background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    Beschrijving</th>
                <th
                    style="background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    Antwoord</th>
                <th
                    style="background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    Beschrijving</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td
                    style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    D=</td>
                <td
                    style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    Een soort ping die alle ESP's ontvangen. De "D" staat voor Discovery, dat betekent dat er
                    gezocht wordt op het netwerk naar slave modules.</td>
                <td
                    style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    P=<br>/<br>RC={mac_address}</td>
                <td
                    style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    P staat voor present, aanwezig. Alles is OK. De ESP is nog steeds aanwezig./RC staat voor
                    request config, De ESP is nog niet geconfigureerd en wil een config ontvangen.</td>
            </tr>
            <tr>
                <td
                    style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    C=</td>
                <td
                    style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    Commando bevat de info die nodig is om de ESP goed te laten functioneren. Het bevat het ip
                    en de poort waar de ESP zijn data naartoe moet sturen. Ook bevat het commando het interval
                    waarin de ESP moet sturen.</td>
                <td
                    style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    /</td>
                <td
                    style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    /</td>
            </tr>
            <tr>
                <td
                    style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    R=</td>
                <td
                    style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    De master module sluit af. Herstart de ESP.</td>
                <td
                    style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    /</td>
                <td
                    style="background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;text-align:left;vertical-align:top;word-break:normal">
                    /</td>
            </tr>
        </tbody>
    </table>
</body>

</html>