.canvas {
    border-radius: 5px;
    border: var(--style-border);
    box-shadow: var(--style-box-shadow);
    overflow: scroll;

    width: fit-content;
    height: fit-content;

    max-width: 100%;
}

.canvas::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

.canvas .no-room {
    padding: 25px;
}

div.dotInfo {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3px;

    /* background-color: white; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid var(--style-brown-4);
    padding: 6px;
    white-space: nowrap;

    font-size: 12px;
}
div.dotInfo .title {
    font-weight: bold;
    font-size: 14px;
}
div.dotInfo div.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dotInfo .dotInfo-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 6px;

    border-radius: 5px;
    padding: 10px;

    width: 100%;

    user-select: none;
}
.App.theme-dark .dotInfo .dotInfo-button img{
    filter: invert(1);
}

.App.theme-light .dotInfo .dotInfo-button:hover {
    background-color: rgb(220, 220, 220);
}
.App.theme-dark .dotInfo .dotInfo-button:hover {
    background-color: var(--style-brown-6);
}