.canvas{
    /* border: red 3px solid; */
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 5px;
    /* background-color: #ff000075; */
}
.canvas svg{
    padding: 15px;
}
.canvas div.dotInfo {
    background-color: red;
    position: absolute;
}