:root {
    --satelite-margin: 10px 5px;
    --satelite-max-width: 250px;
    --satelite-max-height: 95px;
    --satelite-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --satelite-border-radius: var(--style-border-radius);
    --satelite-classes-background-color: rgba(0, 0, 0, 0.12);
    --satelite-classes-font-size: 12px;
    --satelite-classes-opacity: 50%;
}

.satelite {
    display: flex;
    flex-direction: column;
    justify-content: center;


    width: var(--satelite-max-width);
    max-width: var(--satelite-max-width);
    height: var(--satelite-max-height);
    max-height: var(--satelite-max-height);

    border-radius: var(--satelite-border-radius);
    border-color: var(--style-brown);

    box-shadow: var(--satelite-box-shadow);
}

.satelite div.info {
    display: flex;
    flex-direction: row;
    /* column-gap: 20px; */
    text-align: center;
}

.satelite div.info div.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 15px; */
    padding: 8px;
    text-align: center;
}
.satelite div.info div.section.left {
    /* max-width: 10px; */
    white-space: nowrap;
    flex-grow: .5;
}
.satelite div.info div.section .coords {
    font-size: x-small;
}
.satelite div.info div.section.right {
    flex-grow: 1;
}
