:root {
    --sidebar-width: 64px;
    --sidebar-hr-color: var(--style-brown-6);
    --sidebar-item-margin: 3px 8px;
    --sidebar-item-padding: 12px;
    --sidebar-font-size: 18px;
    --sidebar-logo-col-gap: 15px;
    --sidebar-logo-margin-top: 15px;
    --sidebar-item-col-gap: var(--sidebar-logo-col-gap);
    --sidebar-hr-width: 60%;
    --sidebar-hr-open-width: 85.8%;
}

.App.theme-dark .sidebar {
    background-color: var(--theme-dark-background-color-light-4);
    color: var(--theme-dark-font-color);
}
.App.theme-dark .sidebar img {
    filter: invert(1) brightness(0.9);
}

.sidebar {
    display: flex;
    flex-direction: column;

    z-index: 1; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */

    font-size: var(--sidebar-font-size);

    height: 100vh;
    width: var(--sidebar-width);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;

    user-select: none;

    /* transition: width 0.5s; 0.5 second transition effect to slide in the sidebar */
}

.sidebar .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    column-gap: var(--sidebar-logo-col-gap);

    margin: var(--sidebar-item-margin);
    margin-top: var(--sidebar-logo-margin-top);
    padding: var(--sidebar-item-padding);

    font-weight: bold;
}

.sidebar hr {
    display: flex;
    justify-content: center;

    width: var(--sidebar-hr-width);
    border: 2px solid transparent;
    background-color: var(--sidebar-hr-color);
    border-radius: var(--style-border-radius);
}
.sidebar .items {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.sidebar .items.main {
    flex-grow: 1;
}

.sidebar .items .sidebar-item {
    display: flex;
    flex-direction: row;
    justify-content: left;

    column-gap: var(--sidebar-item-col-gap);

    margin: var(--sidebar-item-margin);
    padding: var(--sidebar-item-padding);
    border-radius: var(--style-border-radius);

    transition: background-color 0.2s;
}

.sidebar .items .sidebar-item.active,
.sidebar .width-toggle:hover,
.sidebar .items .sidebar-item:hover {
    background-color: var(--style-brown-6);
}

.sidebar a {
    color: inherit;
    text-decoration: none;
}

.sidebar .width-toggle {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;

    margin: var(--sidebar-item-margin);
    padding: var(--sidebar-item-padding);
    border-radius: var(--style-border-radius);

    transition: background-color 0.2s;
}
.sidebar.open {
    width: auto;
}
.sidebar.open hr {
    width: var(--sidebar-hr-open-width);
}
