:root {
    /* --scrollbar-background-color: rgb(241, 241, 241); */
    --scrollbar-background-color: transparent;
    --scrollbar-thumb-border-color: white;
    --scrollbar-width: 13px;
    --scrollbar-thumb-color: rgba(0, 0, 0, 0.15);
    --scrollbar-thumb-border-width: 4px;
    --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.15);
}

.App {
    display: flex;
    margin: 0;
    padding: 0;

    transition: background-color 0.2s;
}

.App.theme-dark img.icon {
    filter: invert(1);
}
.App.theme-dark {
    background-color: var(--theme-dark-gray-color-3);
    color: var(--theme-dark-font-color);
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;

    width: 70%;
    height: 100vh;
    /* margin: auto; */

    overflow-x: hidden;
    overflow-y: auto;
    overflow: none;
}

.container .container-content {
    width: 90%;
    height: 100%;
    /* margin-bottom: 20px; */
}

h1 {
    font-size: 1.7em;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 30px;
    transition: 0.2s;
}
.App.theme-dark ::-webkit-scrollbar-thumb {
    border: 3px solid var(--theme-dark-gray-color-3);
    background: var(--theme-dark-gray-color-6);
}
.App.theme-light ::-webkit-scrollbar-thumb {
    border: 3px solid var(--theme-light-white-color-f);
    background: var(--theme-light-white-color-d);
}
/* Handle on hover */
.App.theme-dark ::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-dark-gray-color-7);
}
.App.theme-light ::-webkit-scrollbar-thumb:hover {
    background: var(--theme-light-white-color-c);
}
