.App {
   display: flex;
}

.container {
   display: flex;
   flex-direction: column;
   
   width: 70%;
   height: 100vh;
   margin: auto;
}
.device-container {
   width: 100%;

   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
}

.satelite-container {
   
}
