:root {
   --device-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   --device-border-radius: var(--style-border-radius);
   --device-classes-background-color: rgba(0, 0, 0, 0.24);
   --device-classes-font-size:12px;
   --device-classes-opacity:50%;
}

.device {
   /* background-color: skyblue; */
   border-radius: var(--device-border-radius);
   box-shadow: var(--device-box-shadow);
   margin: 30px 0;
}

.device div.info img {
   margin: 0;
   padding: 0;
}
.device div.classes ul,
.device div.info ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
   overflow: hidden;

   display: flex;
}
.device div.info ul {
   justify-content: space-between;
}
.device div.classes ul {
   background-color: var(--device-classes-background-color);
   border-radius: 0 0 var(--device-border-radius) var(--device-border-radius);
}

.device div.classes li,
.device div.info li {
   text-align: center;
   margin: 0;
   /* 4px extra on top to counter weird padding in li at the bottom */
   float: Left;
}
.device div.info li {
   padding: 20px 14px 16px 14px;
}
.device div.classes li {
   padding: 0 5px;
   font-size: var(--device-classes-font-size);
   opacity: var(--device-classes-opacity);
}
