.App.theme-dark .room-selector {
    background-color: #444;
    color: white;
}
.App.theme-light .room-selector {
    background-color: inherit;
    color: black;
}

.room-selector {
    position: relative;
    align-items: center;

    border: 1px solid var(--style-brown);
    border-radius: var(--style-border-radius);
    
    font-family: inherit;
    font-size: inherit;
    
    padding: 0.25em 0.5em;
    margin: 0;

    cursor: pointer;
    outline: none;
}
.room-selector:focus-within{
    background-color: red;
}