:root{
    --container-row-gap: 15px;
    --container-col-gap: 15px;
}

.satelite-container,
.device-container {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    row-gap: var(--container-row-gap);
    column-gap: var(--container-col-gap);
}

.App.theme-dark :is(.device, .satelite) img {
    filter: invert(100%) brightness(90%);
}

.home hr {
    margin: 40px 0; 

    display: flex;
    justify-content: center;

    border: 2px solid transparent;
    background-color: var(--sidebar-hr-color);
    border-radius: var(--style-border-radius);
}
