:root {
    --room-selector-padding:var(--style-input-padding);
}

.App.theme-dark .room-selector {
    background-color: var(--theme-dark-background-color-light-4);
    color: var(--theme-dark-font-color);
}
.App.theme-light .room-selector {
    background-color: inherit;
    color: black;
}

.room-selector {
    position: relative;
    align-items: center;

    border: var(--style-border);
    border-radius: var(--style-border-radius);

    font-family: inherit;
    font-size: inherit;

    padding: var(--room-selector-padding);
    margin: 0;

    cursor: pointer;
    outline: none;
}
