:root {
    --room-selector-padding: var(--style-input-padding);
}

.App.theme-dark .room-selector {
    background-color: var(--theme-dark-gray-color-4);
    color: var(--theme-dark-font-color);
}
.App.theme-light .room-selector {
    background-color: inherit;
    color: black;
}

.room-selector {
    position: relative;
    align-items: center;

    border: var(--style-border);
    border-radius: var(--style-border-radius);

    font-family: inherit;
    font-size: inherit;

    padding: var(--room-selector-padding);
    margin: 0;

    cursor: pointer;
    outline: none;
}

.rooms hr {
    margin: 40px 0;

    display: flex;
    justify-content: center;

    border: 2px solid transparent;
    background-color: var(--sidebar-hr-color);
    border-radius: var(--style-border-radius);
}
