:root {
    --config-padding: 0 0 25px 0;
    --settings-button-padding: var(--style-input-padding);

    --settings-col-gap:10px;
}

.config {
    padding: var(--config-padding);
}
.settings button {
    padding: var(--settings-button-padding);
    border-radius: var(--style-border-radius);
    text-transform: capitalize;
}

.settings .inline {
    display: flex;
    flex-direction: row;
    column-gap: var(--settings-col-gap);
}

.App .settings button {
    display: flex;
    flex-direction: row;
    align-items: center;

    column-gap: var(--settings-col-gap);

    cursor: pointer;
    border: var(--style-border);
    user-select: none;
}

.App .settings .config-button {
    margin: 10px;
    margin-left: 24px;

}

.App.theme-light .settings button {
    background-color: var(--theme-light-background-color);
}
.App.theme-dark .settings button {
    color: var(--theme-dark-font-color);
    background-color: var(--theme-dark-background-color-light-4);
}
.App.theme-light .settings button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.App.theme-dark .settings button:hover {
    background-color: var(--theme-dark-background-color-light-5);
}

input {
    outline: none;
    padding: 5px 10px;
    
    border: 1px solid var(--style-brown-6);
    border-radius: var(--style-border-radius);
    transition: background-color 0.2s;
}
.App.theme-dark input {
    background-color: var(--theme-dark-background-color-light-4);
}
.App.theme-light input {
    background-color: var(--theme-light-background-color);
}

/* File display */
.section,
.object-section {
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
}
.section {
    flex-direction: row;
    gap: 8px;
}
.object-section {
    flex-direction: column;
}
.object-section .object-title {
    display: flex;
    flex-grow: 0.9;
    justify-content: left;
    align-items: left;
    flex-direction: row;
}
.object-section .object-value {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    border-left: 1px solid var(--style-brown-4);
}

.App.theme-dark .object-section .number {
    color: yellowgreen;
}
.App.theme-dark .object-section .string {
    color: burlywood;
}
.App.theme-dark .object-section .boolean {
    color: lightskyblue;
}

.App.theme-light .object-section .number {
    color: green;
}
.App.theme-light .object-section .string {
    color: brown;
}
.App.theme-light .object-section .boolean {
    color: blue;
}

/* Toggle checkbox */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid var(--style-brown-4);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.App.theme-dark .slider:before {
    background-color: white;
}
.App.theme-light .slider:before {
    background-color: var(--style-brown);
}

input:checked + .slider {
    background-color: var(--style-brown-6);
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.settings hr {
    display: flex;
    justify-content: center;

    border: 2px solid transparent;
    background-color: var(--sidebar-hr-color);
    border-radius: 5px;

    margin: 25px 0;
}
