:root {
    --satelite-max-width: 250px;
    --satelite-max-height: 95px;
    --satelite-box-shadow: var(--style-box-shadow);
    --satelite-border-radius: var(--style-border-radius);
    --satelite-classes-background-color: rgba(0, 0, 0, 0.12);
    --satelite-classes-font-size: 12px;
    --satelite-classes-opacity: 50%;
}

.satelite {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: var(--satelite-max-width);
    max-width: var(--satelite-max-width);
    height: var(--satelite-max-height);
    max-height: var(--satelite-max-height);

    border-radius: var(--satelite-border-radius);
    border: 1px solid var(--style-brown-4);

    box-shadow: var(--satelite-box-shadow);
}

.satelite div.info {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.satelite div.info div.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    text-align: center;
}
.satelite div.info div.section.left {
    white-space: nowrap;
    flex-grow: 0.5;
}
.satelite div.info div.section .coords {
    font-size: x-small;
}
.satelite div.info div.section.right {
    flex-grow: 1;
    gap: 5px;
    margin: 0;
}
