:root {
    --sidebar-width: 64px;
    --sidebar-width-open: 200px;
    --sidebar-transition-length: 0.5s;
    --sidebar-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    --sidebar-hr-color: var(--style-brown-6);
    --sidebar-item-margin: 3px 8px;
    --sidebar-item-padding: 12px;
    --sidebar-item-icon-hover-scale: 1.15;
    --sidebar-item-background-transition-length: 0.2s;
    --sidebar-font-size: 18px;
    --sidebar-logo-col-gap: 20px;
    --sidebar-item-col-gap: var(--sidebar-logo-col-gap);
    --sidebar-logo-margin-top: 15px;
    --sidebar-hr-width: 60%;
    --sidebar-hr-open-width: 85.8%;
    --sidebar-background-color-dark: var(--theme-dark-gray-color-4);
    --sidebar-background-color-light: var(--theme-light-white-color-e);
}

.App.theme-dark .sidebar {
    background-color: var(--sidebar-background-color-dark);
    color: var(--theme-dark-font-color);
}
.App.theme-light .sidebar {
    background-color: var(--sidebar-background-color-light);
    color: var(--theme-dark-font-color);
}
.App.theme-dark .sidebar img {
    filter: invert(1) brightness(0.9);
}

.sidebar {
    display: flex;
    flex-direction: column;

    z-index: 1; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */

    font-size: var(--sidebar-font-size);

    height: 100vh;
    width: var(--sidebar-width);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;

    user-select: none;

    transition: width var(--sidebar-transition-length)
            var(--sidebar-transition-timing-function),
        background-color 0.2s;
}

.sidebar .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    column-gap: var(--sidebar-logo-col-gap);

    margin: var(--sidebar-item-margin);
    margin-top: var(--sidebar-logo-margin-top);
    padding: var(--sidebar-item-padding);

    font-weight: bold;
    font-size: larger;
}

.sidebar .logo img {
    transform: scale(1.2);

    transition: transform var(--sidebar-transition-length)
        var(--sidebar-transition-timing-function);
}
.sidebar .logo:hover img,
.sidebar.open .logo img {
    transform: rotate(120deg) scale(1.2);
}
.sidebar.open .logo:hover img {
    transform: rotate(240deg) scale(1.2);
}

.sidebar .logo .logo-text {
    visibility: hidden;
    transition: visibility var(--sidebar-transition-length);
}
.sidebar.open .logo .logo-text {
    visibility: visible;
}

.sidebar hr {
    display: flex;
    justify-content: center;

    /* width: var(--sidebar-hr-width); */

    /* padding: 0 5px; */
    margin: 12px 12px;

    border: 2px solid transparent;
    background-color: var(--sidebar-hr-color);
    border-radius: var(--style-border-radius);
}

.sidebar .items {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.sidebar .items.main {
    flex-grow: 1;
}

.sidebar .items .sidebar-item {
    display: flex;
    flex-direction: row;
    justify-content: left;

    column-gap: var(--sidebar-item-col-gap);

    margin: var(--sidebar-item-margin);
    padding: var(--sidebar-item-padding);
    border-radius: var(--style-border-radius);

    overflow: hidden;

    transition: background-color
        var(--sidebar-item-background-transition-length);
}

.sidebar .width-toggle img,
.sidebar .items .sidebar-item img {
    transition: transform var(--sidebar-item-background-transition-length);
}
.sidebar .items .sidebar-item.active,
.sidebar .width-toggle:hover,
.sidebar .items .sidebar-item:hover {
    background-color: var(--style-brown-6);
}

.sidebar .items .sidebar-item.active img,
.sidebar .width-toggle:hover img,
.sidebar .items .sidebar-item:hover img {
    transform: scale(var(--sidebar-item-icon-hover-scale));
}
.sidebar.open .items .sidebar-item.active img,
.sidebar.open .width-toggle:hover img,
.sidebar.open .items .sidebar-item:hover img {
    transform: scale(var(--sidebar-item-icon-hover-scale));
}
.sidebar.open .width-toggle:hover img {
    transform: scaleX(-1) scale(var(--sidebar-item-icon-hover-scale));
}

.sidebar a {
    color: inherit;
    text-decoration: none;
}

.sidebar .width-toggle {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;

    margin: var(--sidebar-item-margin);
    padding: var(--sidebar-item-padding);
    border-radius: var(--style-border-radius);

    cursor: pointer;

    transition: background-color
        var(--sidebar-item-background-transition-length);
}

.sidebar.open .width-toggle img {
    transform: scaleX(-1);
}
.sidebar.open {
    width: var(--sidebar-width-open);
}
