html {
    overflow: hidden;

    font-family: 'Arial Narrow Bold', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 100%;
    overflow: hidden;

    padding: 10px;

    background-color: rgb(240, 240, 240);
}

.sidebar div {
    padding: 15px;
    font-size: large;
}
.sidebar a {
    text-decoration: none;
    color: inherit;
    background-color: rgb(222, 222, 222);

    transition: background-color 0.1s;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: rgb(210, 210, 210);
}
